<section class="stretch-full-width section-products-carousel-with-bg 7-column-carousel-bg">
    <div class="col-full">
        <div class="row">
            <header class="section-header">
                <h2 class="section-title">Make
                    <br> dreams
                    <br>
                    <span>your reality.</span>
                </h2>
                <img alt="" src="assets/images/products/bg-2.png">
            </header>
            <div class="products-carousel-with-bg">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:7,&quot;slidesToScroll&quot;:7,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:780,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1201,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesToScroll&quot;:6}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce columns-6">
                            <div class="products">
                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-7.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Bluetooth on-ear PureBass Headphones</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-5.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">XONE Wireless Controller</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-6.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> 789.95</span>
                                            </ins>
                                            <del>
                                                <span class="amount">999.00</span>
                                            </del>
                                            <span class="amount"> </span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Gear Virtual Reality 3D with Bluetooth Glasses</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-4.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">4K Action Cam with Wi-Fi & GPS</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-9.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Watch Stainless with Grey Suture Leather Strap</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->
                                
                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-4.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Xtreme ultimate splashproof portable speaker</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->
                                
                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-1.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Bbd 23-Inch Screen LED-Lit Monitorss Buds</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-2.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">ZenBook 3 Ultrabook 8GB 512SSD W10</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-1.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> 309.95</span>
                                            </ins>
                                            <del>
                                                <span class="amount">459.00</span>
                                            </del>
                                            <span class="amount"> </span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Smart Watches 3 SWR50</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-8.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Video & Air Quality Monitor</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->
                                
                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-7.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 262.81</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Band Fitbit Flex</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-2.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Xtreme ultimate splashproof portable speaker</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->
                                
                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-6.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Drone WIFI FPV With 4K</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->
                                
                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-8.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> 262.81</span>
                                            </ins>
                                            <del>
                                                <span class="amount">399.00</span>
                                            </del>
                                            <span class="amount"> </span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Band Fitbit Flex</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->
                                
                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-3.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 399.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Band Fitbit Flex</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->

                                <div class="product">
                                    <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-3.jpg" width="224" height="197" class="wp-post-image" alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span><!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">On-ear Wireless NXTG</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                </div><!-- /.product-outer -->
                            </div>
                        </div><!-- .woocommerce-->
                    </div><!-- .container-fluid -->
                </div><!-- .products-carousel -->
            </div><!-- .products-carousel-with-bg -->
        </div><!-- .row -->
    </div><!-- .col-full -->
</section><!-- .section-products-carousel-with-bg -->