<section class="section-top-categories section-categories-carousel" id="categories-carousel-3">
    <header class="section-header">
      <h2 class="section-title">Top
        <br>categories
        <br>this week</h2>
      <a class="readmore-link" href="#">Full Catalog</a>
    </header>
    <!-- .section-header -->
    <div class="product-categories product-categories-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:7,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#categories-carousel-3 .custom-slick-nav&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesToScroll&quot;:6}}]}">
      <div class="woocommerce columns-7">
        <div class="products">
          <div class="product-category product">
            <a href="product-category.html">
              <img width="224" height="197" alt="Fashion" src="assets/images/category/sm-1.png">
              <h2 class="woocommerce-loop-category__title"> All in One PC </h2>
            </a>
          </div>
          <div class="product-category product">
            <a href="product-category.html">
              <img width="224" height="197" alt="Footwear" src="assets/images/category/sm-2.png">
              <h2 class="woocommerce-loop-category__title"> Audio & Music </h2>
            </a>
          </div>
          <div class="product-category product">
            <a href="product-category.html">
              <img width="224" height="197" alt="Furnitures" src="assets/images/category/sm-3.png">
              <h2 class="woocommerce-loop-category__title"> Cells & Tablets </h2>
            </a>
          </div>
          <div class="product-category product">
            <a href="product-category.html">
              <img width="224" height="197" alt="Perfumes" src="assets/images/category/sm-4.png">
              <h2 class="woocommerce-loop-category__title"> Computers & Laptops </h2>
            </a>
          </div>
          <div class="product-category product">
            <a href="product-category.html">
              <img width="224" height="197" alt="Power Tools" src="assets/images/category/sm-5.png">
              <h2 class="woocommerce-loop-category__title"> Desktop PCs </h2>
            </a>
          </div>
          <div class="product-category product">
            <a href="product-category.html">
              <img width="224" height="197" alt="Smart Appliances" src="assets/images/category/sm-6.png">
              <h2 class="woocommerce-loop-category__title"> Digital Cameras </h2>
            </a>
          </div>
          <div class="product-category product">
            <a href="product-category.html">
              <img width="224" height="197" alt="Perfumes" src="assets/images/category/sm-4.png">
              <h2 class="woocommerce-loop-category__title"> Computers & Laptops </h2>
            </a>
          </div>
        </div><!-- .products-->
      </div><!-- .woocommerce-->
    </div><!-- .product-categories -->
  </section><!-- .section-top-categories -->